<% provide(:title, 'About Us') %>
<h1>About the Site</h1>

<p><b> About <%= full_title("") %></b></p>
<p>LabelMe is a website created to make tagging data for reasearch easier.  Researchers can upload a CSV file containing text entries they wish to label to the website and designate the label tags they want other users to apply to their data, along with writing out a set of instructions for users to follow when labeling their data.  The CSV files is then uploaded to the website and stored as a project, allowing other users to begin labeling the data.

