<% provide(:title, 'Help') %>
<h1>How to Label</h1>
<p>The website will show you a sentence to label and the post the sentence was taken from for context.  Give each post a topic label and a role label if applicable.</p>

<p><b>Topics</b>
<ul><li>Content</li>
<li>Other courses</li>
<li>Social/Affective</li>
<li>Course Website/Technology</li>
<li>Course Structure/Policies</li>
<li>Other</li>
<li>Missing Data</li>
<li>Non-English</li></ul>
</p>

<p><b>Content:</b> Posts addressing the subject matter of the course (Cirecuits and Electronics / 6.002x).  This includes, but is not limited to, questions about homework, clarifying concepts, discussion on class topics, and self-regulation.</p>

<p><b>Other Courses:</b> This category is for posts that specifically address other courses, whether or not they are related to "Circuits and Electronics (6.002x)."</p>

<p><b>Social/Affective:</b> Posts that address the coial or community building apsects of the class, enacting a social norm, or communicating an emotion.  This includes (among other things) posts in which students are looking to connect with "like" or "unlike" students, seeking connections with teachers or course staff, forming study groups, building communities, ritual communication, or epxressing emotions such as gratitude, joy, anger, frustration, or confustion.</p>

<p><b>Course Structure/Policies:</b> This category encompasses posts that address the course organization and course guidelines, including but no limited to sequence of topics, grading, deadlines, and earning certificates.</p>

<p><b>Other:</b> Anthing not realted to class content, the social aspect of the class, course website or technology, or course requirements.</p>

<p><b>Missing Data</b> Question/comment/answer has been removed from the discussion forum.</p>

<p><b>Non-English</b> Post is in a language other than English.</p>

<p><b>Role of Poster</b>
<ul><li>Help-seeker</li>
<li>Help-giver</li>
<li>Other</li>
</ul>
</p>

<p><b>Help-seeker:</b> Posts in which the poster is asking for some kind of help, information, pointers, etc..</p>

<p><b>Help-giver:</b> This category includes posts in which the poster is giving help, insight, or providing information.</p>

<p><b>Other:</b> Any posts in which the user is not explicitly seeking, declaring or providing information, e.g., an expression or opinion.</p>