<div class="center hero-unit">
  <h1>Welcome to <%= full_title("") %></h1>

  <div class="btn-group">
    <%= link_to "Creat profile", signup_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Skip to labeling", guest_agreement_path, class: "btn btn-large btn-primary"%>
  </div>
</div>