<div class="center hero-unit">
  <h3>LabelMe-Text Terms of Service</h3>
  I agree to refrain from scraping data from this website and from trying to identify the original authors of content found on this site.<br>
</div>