<div>
  <h3>How to upload a project to LabelMe-Text</h3>
  <div class="left">
 	 <b>CSV File</b><br>
 	 Select a .csv file from your computer files that you wish to upload.<br><br>

 	 <b>Project Title and Description</b><br>
 	 These two fields cover the information use to represent your project to users choosing which projects to label.<br><br>

 	 <b>CSV Options</b><br>
 	 Open your csv file.  If the first row entries of the csv are column titles for the csv, check the "header row" box.<br><br>

 	 <b>Labeling Scope</b><br>
 	 Sentence-level labeling has users go through a post sentence by setence applying labels to setences within the post.
 	 Post-level labeling has them read a post and then label the post as a whole.<br><br>

 	 <b>Label Definitions</b><br>
 	 The actual labels users apply are <b>label tags</b>, which can be divided into multipled <b>label categories</b>.  If it makes sense 
 	 to divide label tags into several groups, create mutiple label categories to organize the label tags.  Use the Add and Remove links to 
 	 to customize the size an number of categories.<br><br>

 	 <b>Label Instructions</b><br>
 	 What you write here are the instructions users read while looking at a post to be labeled.  Explain the label tags they are marking posts 
 	 with and any rules to follow when choosing labels.
  </div>
</div>