<div class="row">
  <div class="col-xs-6 col-md-6 form-group">
    Platform<br>
    <input class="input-medium tm-input tm-input-success form-control" id="offering_platform" name="offering[platform]" placeholder="Coursera, edX, etc." type="text"/>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6 form-group">
    Instructor<br>
    <input class="input-medium tm-input tm-input-success form-control" id="offering_instructor" name="offering[instructor]" placeholder="John Smith" type="text"/>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6 form-group">
    Start Date<br>
    <div class="input-group date datepicker" data-date-format="yyyy-mm-dd">
      <input class="span2 form-control" id="offering_start_date" name="offering[start_date]" type="text" readonly="">
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6 form-group">
    End Date<br>
    <div class="input-group date datepicker" data-date-format="yyyy-mm-dd">
      <input class="span2 form-control" id="offering_end_date" name="offering[end_date]" type="text" readonly="">
      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
    </div>
  </div>
</div>