<div class="row">
  <div class="col-xs-6 col-md-6 form-group">
    Offering<br>
    <input class="input-medium tm-input tm-input-success form-control" id="offering_name" name="offering[name]" type="text"/>
  </div>
</div>