.flash-notice= flash[:notice]

.page-header
  %h1 MOOCviz Gallery
- @tags_hash.each do |tag, visualizations|
  - if visualizations.size > 0
    .row
      %h3= tag
    .row
      - visualizations.each do |viz|
        .col-md-4
          %a.viz-link{:href => "/visualizations/#{viz.id}"}
            .viz-container
              = image_tag viz.thumbnail.url, :size => "300x240", :class => 'viz_thumbnail'
              /%p.viz-name= viz.name


