<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>New Vis (Step 1 of 6)</h3>
      <hr>
      <address>
        <strong>Describe your new visualization.</strong>
      </address>
    </div>

    <%= render :partial =>  'visualization_metadata' %>
  </div>
</div>


        



