<script>

  $( document ).ready(function() {
    $("#offering").tagsManager();
  });
</script>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Tags and Offerings (Step 2 of 6)</h3>
      <hr>
      <address>
        <strong>Add tags and offerings associated with your visualization.</strong>
      </address>
    </div>

    <div class="col-sm-8 contact-form">
      <%= form_for @offering, :url => '/create_viz_step_2/' do |f| %>
        <%= render 'tags_and_offerings' %>

        <%= render 'visualizations/offering_metadata_inputs' %>

        <div class="row">
          <div class="col-xs-6 col-md-6 form-group">
            Tags<br>
            <input class="form-control" id="tag" name="tag" placeholder="Type a tag associated with your visualization." type="text"/>
          </div>
        </div>

        <input type="hidden" id="viz_id" name="viz_id" value="<%=@viz_id%>" />

        <div class="row">
          <div class="col-xs-12 col-md-12 form-group">
            <button class="btn btn-primary pull-left" type="submit">Next Step&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></button>
          </div>
        </div>
      <% end %>>
    </div>
  </div>
</div>
