<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Data to Viz Script (Step 6 of 6)</h3>
      <hr>
      <address>
        <strong>Upload your public data to visualization file.</strong>
      </address>
    </div>

    <div class="col-sm-8 contact-form">

      <%= form_for @visualization, :url => '/create_viz_step_6', :method => :post do |f| %>

        <div id="scripts" class="row">
          <div class="col-xs-6 col-md-6 form-group">
            
            
            Public Data to Visualization File<br>
            <div class="fileinput fileinput-new" data-provides="fileinput">
              <div class="input-group">
                <div class="form-control uneditable-input span3" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
                <span class="input-group-addon btn btn-default btn-file"><%= f.file_field :data_to_visualization_script %></span>
                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
              </div>
            </div>

            <input type="hidden" id="visualization_id" name="visualization[visualization_id]" value="<%=@viz_id%>" />
            <input type="hidden" id="offering_id" name="visualization[offering_id]" value="<%=@offering_id%>" />
            
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-12 form-group">
            <button class="btn btn-primary pull-left" type="submit" disabled='disabled'>Finish Visualization!</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <hr />
  <div class='pipeline'>
    <ul class='nav nav-pills'>
      <li>
        <a data-vizstep='1' href='#'>
          <i class='glyphicon glyphicon-hdd'></i>
          <br>
          <span class='pipeline-text' style='margin-left:20px;'>
            <strong>MOOCDB</strong>
          </span>
        </a>
      </li>
      <li>
        <a data-vizstep='2' href='#'>
          <i class='glyphicon glyphicon-arrow-right'></i>
          <br>
          <span class='pipeline-text' style='margin-left:0px;'>
            <strong>Data Extraction Script </strong>
          </span>
        </a>
      </li>
      <li>
        <a data-vizstep='3' href='#'>
          <i class='glyphicon glyphicon-file'></i>
          <br>
          <span class='pipeline-text' style='margin-left:12px;'>
            <strong>Exported Data</strong>
          </span>
        </a>
      </li>
      <li>
        <a data-vizstep='4' href='#'>
          &nbsp;
          <i class='glyphicon glyphicon-arrow-right'></i>
          <br>
          <span class='pipeline-text' style='margin-left:0px;'>
            <strong>Data Aggregation Script </strong>
          </span>
        </a>
      </li>
      <li>
        <a data-vizstep='5' href='#'>
          <i class='glyphicon glyphicon-file'></i>
          <br>
          <span class='pipeline-text' style='margin-left:14px;'>
            <strong>Public Data</strong>
          </span>
        </a>
      </li>
      <li class='active'>
        <a data-vizstep='6' href='#'>
          &nbsp;
          <i class='glyphicon glyphicon-arrow-right'></i>
          <br>
          <span class='pipeline-text' style='margin-left:0px;'>
            <strong>Data to Vis Script</strong>
          </span>
        </a>
      </li>
      <li>
        <a data-vizstep='7' href='#'>
          <i class='glyphicon glyphicon-stats'></i>
          <br>
          <span class='pipeline-text' style='margin-left:14px;'>
            <strong>Visualization</strong>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>