.about
  %h2 The MOOCdb Vision
  %br
  %p 
    We have developed a comprehensive data schema, called
    %a{ :href => 'http://moocdb.csail.mit.edu' } MOOCdb
    , that captures the student activity data on a MOOC platform.  The data schema and the rationale behind it is presented in
    %a{ :href => 'http://groups.csail.mit.edu/EVO-DesignOpt/groupWebSite/uploads/Site/EdTR_Dec2_2013.pdf' } MoocDb Tech Report
    One of the primary motivations behind the schema is the facilitation of the sharing and crowdsourcing of analytics scripts. Aggregation and visualization of data is a common analytics goal which can be facilitated by sharing scripts. Writing these scripts to be run on a common interface and sharing them allows for results to be shared without duplicate work in script writing and avoiding sharing of identifiable data.


  %p 
    We created MOOCviz, a web application to facilitate sharing of these data pipelines and scripts that could be run on any MOOCdb instance. MOOCviz would allow for scientists from different MOOCs and institutions to upload and share their visualizations, so work done by one person could benefit everyone in the MOOC community. At the heart of MOOCviz are two core use cases – one for viewing and exploring visualizations put up by other people, and another is to upload and share a visualization. We look at each functionality separately.