.public_data_instructions
  %h2 How to use the path_to_public_data variable
  %br
  %p
    MOOCviz is designed for one person to upload their visualization, including the scripts to extract and aggregate the
    data into a public data file, as well as the script to make a visualization out of the data in the public data file.
    Then, others can download these scripts and make their own public data file and upload it as a new offering for the
    same visualization. For this offering to display correctly using the original data to visualization script, however,
    MOOCviz must be able to reference the public data file for the new offering.

  %p
    So, we ask that when you upload a new visualization, you simply replace the public data file reference
    with window.parent.path_to_public_data.
    Somewhere in the visualization script, it must reference the public data file as a relative path. If the file
    is in the same folder as the script, which is often the case, the relative path is simply the public data file name
    as a string. Before uploading, simply replace this path with the variable
    %strong window.parent.path_to_public_data
    and MOOCviz will take care of the rest.

    For example. if your visualization script file looks like

  .code
    %blockquote
      %pre.prettyprint
        %code1
  %p
    simply change it like so

  .code
    %blockquote
      %pre.prettyprint
        %code2

  %p
    Because we use an iframe for the visualization script file, this allows us to set the path_to_public_data variable
    in our code and change it appropriately when viewing different offerings.

  %p
    We were hoping to give you a file containing an iframe that would let you define the path_to_public data so you could
    simply make the changes above once. Then you wouldn't have to worry about changing back and forth if you later edit
    your visualization. Unfortunately, Javascript prevents cross-domain iframe communication
    (which includes files even on the same local system). We hope to give you some code that you
    can add to your data to visualization script along with a visualization container file that uses iframe messaging
    to make it easier for you in the future. In the meantime, however, you'll simply have to remember to follow the
    steps above to change the public data file name in the data to visualization script before uploading to our site.
    We appreciate your help!