<% provide(:title, "Edit user") %>
<body data-no-turbolink='true' >
<h1>
<% if params[:form] == "project" %>
  Choose a project
<% else %>
  <% if guest? %>
    Become a user
  <% else %>
    Update your profile
  <% end %>
<% end %> 
</h1>

<div class="row">
  <div class="span6 offset3">
  <% if params[:form] == "project" %>
    <%= render 'project_form' %>
  <% else %>
    <%= render 'edit_form' %>
  <% end %>
  </div>
</div>
