.login-box {
  margin: 60px auto;
  width: 280px;

  .login-title {
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 20px;
  }

  .login-form {
    margin: 20px 10px;
    text-align: center;
    
    input {
      width: 160px;
    }

    .login-message {
      font-size: 12px;
      color: red;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }
}


