// Place all the styles related to the Visualizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash-notice {
	color: red;
	
}

.visualization-panel {
	height: 600px;
	margin: 30px 0;
    text-align: center;
}

.viz-iframe {
	border: none;
	overflow-y: none;
}

.offering {
	max-width: 300px;
	margin-top: 20px;
}

.pipeline {
	width: 1150px;
	margin: 40px auto;
	i {
		font-size: 50px;
		margin: 10px 30px;
	}
    p {
        margin: 0;
    }
    .pipeline-text {
        text-align: center;
    }
    .pipeline-image {
        text-align: center;
    }
}

.download-file {
	margin-left: 12px;
}

#code-block {
	padding: 20px;
	min-height:500px;
}

.contact-form {
	margin-top: 30px;
}

.about {
	padding: 20px;
}

.viz_thumbnail {
  margin: 20px 0;
}

.viz-container {
    text-align: center;
    font-size: 16px;
    &:hover {
        opacity: 0.5;
    }
}

a.viz-link:hover {
  text-decoration: none;
}

.new-offering {
  margin-top: 20px;
}
#comments {
  margin-top: 20px;
  .name {
    font-weight: bold;
  }
  .time {
    color: #bbb;
  }
}
.remove-padding {
  padding-left: 0px;
}